/target
/.env
/.idea/copyright/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/data_source_mapping.xml
/.idea/dataSources.xml
/.idea/KelpieBooks.iml
/.idea/modules.xml
/.idea/vcs.xml
/backend/.sqlx
/backend/static/
/logs/
