$baseline: 1.5rem;

$background: #e7f1ee;
$color: #500000;

$links: #00f;
$hover-links: rgba(204, 0, 0, 0.78);
$visited-links:#009;

$font-size: 1rem;
$font-family: Noto Serif, Times Roman, serif;
$line-height: 1.25;
$code_font: 400 1rem/1.25 SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;

$quote-bg: #dcdcdc;
$quote-border: #808080 8px solid;
$quote-alert-note-color: #34afdc;
$quote-alert-tip-color: rgba(16, 113, 43, 0.75);
$quote-alert-important-color: #7544d0;
$quote-alert-warning-color: #915f00;
$quote-alert-caution-color: #bf1626;
